/* color variables */
$color-main: #2BDA53;

.btn-main {
  width: 170px;
  height: 36px;
  float: right;
  color: #fff;
  font-size: 15px;
  background: #2bda53;
  border: none;
  border-radius: 3px;
}
